.obsidian
**/**.DS_Store
/PrintableHeroes/
/Campaign/Session 2/Eeler's Inn Floor 1.pdf
/Campaign/Session 2/Eeler's Inn Floor 2.pdf
/Campaign/Session 2/Eeler's Inn Outside.pdf
/Campaign/Session 2/Henge_Cave_Entrance_Dark.pdf
/Campaign/Session 2/Henge_Cave_Entrance_Day.pdf
/Campaign/Session 2/Henge_Cave_Entrance_Night.pdf
/Campaign/Session 2/Knights_Refuge_Dark.pdf
/Campaign/Session 2/Knights_Refuge_Day.pdf
/Campaign/Session 2/Knights_Refuge_Night.pdf
/Campaign/Session 2/Resources/Eeler's Inn Floor 1.pdf
/Campaign/Session 2/Resources/Eeler's Inn Floor 2.pdf
/Campaign/Session 2/Resources/Eeler's Inn Outside.pdf
/Campaign/Session 2/Resources/Henge_Cave_Entrance_Dark.pdf
/Campaign/Session 2/Resources/Henge_Cave_Entrance_Day.pdf
/Campaign/Session 2/Resources/Henge_Cave_Entrance_Night.pdf
/Campaign/Session 2/Resources/Knights_Refuge_Dark.pdf
/Campaign/Session 2/Resources/Knights_Refuge_Day.pdf
/Campaign/Session 2/Resources/Knights_Refuge_Night.pdf